@media screen and (max-width: 1200px) {
  .bottom section figure a {
    bottom: 115px;
  }
}
@media screen and (max-width: 1010px) {
  .banner figure {
    width: 120%;
  }
  .btm_box {
    justify-content: center;
  }
  .bottom section {
    width: 40%;
  }
  .bottom section figure a {
    bottom: 145px;
  }
}
@media screen and (max-width: 800px) {
  .banner figure {
    width: 140%;
  }
  .bnr_info h2 {
    line-height: 45px;
    font-size: 35px;
  }
  .bottom section {
    width: 46%;
  }
  .bottom section figure a {
    bottom: 12px;
  }
  .ftr_box ul li {
    width: 45%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 600px) {
  .bottom section {
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .navbar-expand-sm {
    justify-content: flex-end !important;
    background: #343a40;
  }
  .navbar-collapse {
    text-align: right;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0 !important;
  }
  .banner figure {
    width: 180%;
  }
  .bnr_info {
    bottom: 140px;
  }
  .bnr_info h2 {
    line-height: 38px;
    font-size: 28px;
  }
  .bnr_info a {
    margin: 12px auto 0;
  }
  .ftr_box ul li {
    width: 100%;
    margin: 12px auto;
  }
  .copyright strong {
    display: block;
    padding: 0;
  }
  .copyright q {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .bnr_info {
    bottom: 90px;
  }
  .bnr_info h2 {
    line-height: 30px;
    font-size: 20px;
  }
  .bnr_info a {
    margin: 15px auto 0;
  }
  .bottom section {
    width: 100%;
  }
  .bottom h2 {
    font-size: 30px;
  }
  .ftr_box h2 {
    font-size: 30px;
  }
}